:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* .home-conatiner{
  display:flex;
  justify-content: flex-end;
  padding: 20px;
} */

/* .login {
  color: #ff4da6;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
} */

#logout-btn{
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 8px 16px;
  cursor: pointer;
  background-color:red;
  
}
#logout-btn:hover{
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}
.form {
  background: white;
  padding: 40px 35px;
  border-radius: 16px;
  width: 320px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  box-shadow: 0 15px 35px rgba(0,0,0,0.2);
}

.email{
    display:flex;
  justify-content: flex-start;
  padding:4px ;
}
.password{
  display:flex;
  justify-content: flex-start;
  padding:4px ;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(120deg,#3fd8ff,#b23cff,#ff2fd0);
}


.login {
  color: #ff4da6;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;   /* ADD THIS */
}

.email input,
.password input {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background: #f7f7f7;
  outline: none;
  font-size: 14px;
  transition: 0.3s;
}
.email input:focus,
.password input:focus {
  border-color: #b23cff;
  background: rgb(226, 155, 167);
}

.form button {
  padding: 12px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  font-size: 16px;
  color: white;
  cursor: pointer;
  background: linear-gradient(to right,#3fd8ff,#ff2fd0);
  transition: 0.3s;
}
.form button:hover {
  transform: scale(1.03);
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}
.email,
.password {
  padding: 0;
  margin: 0;
  width: 100%;
}
.home-container{
   height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:  linear-gradient(to right,#3fd8ff,#ff2fd0);
}

/* .light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #121212;
  color: white;
} */

